<%- include('partials/header') %>

<div class="container mt-5">
  <h2>Admin account</h2>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /admin route -->
          <form action="/admin" method="POST">
            <div class="form-group">
              <label for="text">CAMPAIGN-NAME:</label>
              <label for="text">Already <%=numberofcampaigns%> campaigns are present. For next type CampaignX, where X=<%=numberofcampaigns%>+1</label>
              <input type="text" class="form-control" name="campaignname">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>

        </div>
      </div>
    </div>



  </div>
</div>


<%- include('partials/footer') %>
